<html>
<head>
  <title>Slim Note</title>
</head>
<body>
  <form action="notes" method="POST">
    <label for="notes-title">Title:</label>
    <input  id="notes-title" type="text" name="title">

    <label    for="notes-content">Content:</label>
    <textarea id="notes-content" name="content"></textarea>

    <label for="notes-tags">Tags:</label>
    <input id="notes-tags" type="text" name="tags">

    <button type="submit">Send</button>
  </form>

  <hr>

  <ul>
    {% for note in notes %}
      <li>title: {{note.title}} id: {{note.id}}</li>
    {% endfor %}
  </ul>
</body>
</html>
