<html>
<head>
  <title>Slim Note</title>
</head>
<body>
  <a href="/">home</a>
  <form action="/notes/{{note.id}}" method="POST">
    <input type="hidden" name="_METHOD" value="PUT">

    <input type="hidden" name="id" value="{{note.id}}">

    <label for="notes-title">Title:</label>
    <input id="notes-title" type="text" name="title" value="{{note.title}}">

    <label    for="notes-content">Content:</label>
    <textarea id="notes-content" name="content">{{note.content}}</textarea>

    <label for="notes-tags">Tags:</label>
    <input id="notes-tags" type="text" name="tags">

    <button type="submit">Update</button>
  </form>
</body>
</html>
